<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Hunt</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../css/login.css" >
</head>
<body>
    <div id="header">
        <h3>JOB HUNT</h3>
    </div>

    <div id="login">
        <h3>Log In</h3>
        <form id="login-form">
            <input type="email" name="email" id="email" placeholder="Email" required>
            <input type="password" namw="passWord" id="password" placeholder="password" required>
            <button type="submit">Log In</button>
        </form>
    </div>
    <div id="forgot-password" style="margin-top: 10pt;" >
        <button id="forgot-password-btn" onclick="forgotPassword()">Forgot password</button>
        <form id="forgot-password-form">
            <h3>Rest your password</h3>
            <input type="email" name="email"  placeholder="Enter you Email" required>
            <button type="submit">Get Reset Link</button>
        </form>
    </div>
    <p>Not a User? - <a href="signup.html">Sign Up Now</a></p>
    <p id="error" style="color:red"></p>
    
    <script src="../scripts/login.js"></script>
</body>
</html>