<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Hunt</title>
    <link rel="stylesheet" href="../css/signup.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="header">
        <h3>JOB HUNT</h3>
    </div>
    
    <div id="signup">
        <h3>SIGN UP</h3>
        <form id="signup-form">
            <input type="text" placeholder="User Name" id="user-name" name="username" required>
            <input type="email" placeholder="Email" id="email" name="email" required>
            <input type="number" placeholder="Phone Number" id="phone-number" name="phonenumber" required>
            <input type="password" placeholder="Password" id="password" name="password" required>
            <button type="submit">Sign Up</button>
        </form>
        <p>Already a user? <a href="./login.html">login</a></p>
    </div>

    <script src="../scripts/signup.js"></script>
    
</body>
</html>